<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="css/style_index.css">
</head>
<body>
<h1 class="main-title">Добро пожаловать в библиотеку!</h1>
<div class="links-container">
    <a href="/DemoSpring/books">Список книг</a>
    <a href="/DemoSpring/readers">Список читателей</a>
    <a href="/DemoSpring/issues">Учет книг</a>
</div>
</body>
</html>
